.about{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap:36px;
}

.about .image{
   flex:1 1 41rem;
}

.about .image img{
   width: 100%;
}

.about .content{
   flex:1 1 41rem;
   text-align: center;
}

.about .content h3{
   font-size: 36px;
   color:var(--black);
}

.about .content p{
   font-size: 16px;
   color:var(--light-black);
   line-height: 2;
   padding:12px 0;
}

.about .content .icons-container{
   margin-top: 24px;
   display: flex;
   flex-wrap: wrap;
   gap:18px;
   align-items: flex-end;
}

.about .content .icons-container .icons{
   background: var(--light-bg);
   padding:24px;
   flex:1 1 32px;
}

.about .content .icons-container .icons i{
   font-size: 48px;
   margin-bottom: 24px;
   color:var(--main-color);
}

.about .content .icons-container .icons span{
   font-size: 16px;
   color:var(--light-black);
   display:block;
}